/*
*
*@author Lucas Martins da Silva Sena
 */

/* Layout------------------------*/
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../_img/capa.png), url(../_img/ruido.png), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/*Barra de navegação*/
nav.navbar-transparente {
    background: rgba(0,0,0,0.6);
    padding: 15px 0;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light button.navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, 1);
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}

/*Capa
-------------------------------*/
.capa {
    text-align: center;
}

.btn-custom {
    color: #fff;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: capitalize;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-purple {
    background: #7c25f8;
}

.btn-purple:hover {
    background: #6207e3;
    color: #fff;
}

.btn-white {
    border: 2px solid white;
}

.btn-white:hover {
    background-color: #fff;
    color: #000;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

/*Serviços e Contéudos */

#servicos {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos h2, h3 {
    color: #7c25f8;
}

#recursos {
    padding-top: 20px;
    padding-bottom: 20px;
}

#recursos {
    color: #fff;
}

#recursos h2{
    color: #fff;
}

#recursos h3 {
    color: #9bf0e1;
}

.albuns {
    padding: 10px 0;
}

.rotacionar {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    padding-left: 80px;
}

/*-----footer-----*/
footer {
    background: #000;
    padding: 50px 0px 20px 0;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: #fff;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    text-decoration: none;
    color: #9bf0e1;
}

footer ul {
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px;

}

/*Tipografia ----------------------*/
section div div div h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: #fff;
}

h2  {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}




/* Botões */

/* Small devices (landscape phones, 576px and up) */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .btn-custom {
        font-size: 1em;
        padding: 8px 12px;
        margin: 10px 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-custom {
        font-size: 1.1em;
        padding: 10px 14px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .btn-custom {
        font-size: 1.3em;
        padding: 13px 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .btn-custom {
        font-size: 1.4em;
        padding: 14px 18px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .btn-custom {
        font-size: 1.5em;
        padding: 15px 20px;
    }
}
